# Dependências
node_modules/
package-lock.json

# Variáveis de ambiente
.env
.env.local
.env.production

# Logs
logs/
*.log
npm-debug.log*

# Arquivos temporários
uploads/
tmp/
temp/

# Sistema operacional
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build
dist/
build/

